* {
  box-sizing: border-box;
  text-align: center;
  margin: 5px 0 5px 0;
  padding: 0;;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
}

section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border-top: 2px solid black;
  padding-top: 15px;
}

section img {
  flex-shrink: 2;
  width: 640px;
  height: auto;
  object-fit: contain;
}

h2 {
  width: 50%;
  margin: auto;
  font-size: 1.3rem;
  font-weight: bolder;
  line-height: 1.3;
}

.navbar {
  max-width: 100%;
  background-color: black;
  height: 60px;
  font-size: x-large;
  font-weight: bold;
  height: auto;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: rgb(18, 106, 164);
}

.navbar,
ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

ul {
  list-style-type: none;
}

video {
  height: auto;
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.header p {
  font-size: 1.2rem;
  line-height: 1.2;
  padding-left: 5px;
  padding-right: 5px;
}

.text-section {
  width: 50%;
  display: inline-flex;
  flex-flow: column wrap;
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  width: 50%;
}

footer {
  width: 100%;
}

.navbar-footer {
  max-width: 100%;
  background-color: black;
  height: 60px;
  font-size: x-large;
  font-weight: bold;
  height: auto;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  display: none;
}

.navbar-footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navbar-footer ul li a:hover {
  color: rgb(18, 106, 164);
}

.navbar-footer ul {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media all and (max-width: 430px) and (orientation: portrait) {
  .navbar ul {
    flex-direction: column;
  }
  .navbar-footer {
    display: flex;
  }
}

@media all and (max-width: 350px) {
  .navbar-footer {
    flex-flow: column wrap;
  }
}

.menu-section {
  display: flex;
  flex-flow: column wrap;
  border: none;
  padding-top: 0;
}

.menus {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}