* {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

body,
header,
nav,
section,
ul,
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body,
main,
footer,
.text-section {
  flex-direction: column;
  justify-content: center;
  gap: 15px 30px;
}

body {
  flex: 1 1 auto;
}

video {
  min-height: 50vw;
  max-height: 100vw;
  min-width: 50vw;
  max-width: 100vw;
}

section {
  display: inline-flex;
  flex-wrap: wrap;
  min-width: 1000px;
  max-width: 1600px;
}

ul {
  gap: 15px;
}


.text-section {
  min-width: 500px;
  max-width: 800px;
}

img, button {
  display: inline-block;
}

img {
  flex-shrink: 2;
  max-width: 100%;
}